.MainPageIntro {
    background-color: lightgray;
}

.MainPageToMeetings {
    background-color: floralwhite;
}

.MeetingCard {
    padding: 15px 35px;
    max-width: 400px;
    border-radius: 25px;
    align-content: space-between;
    align-items: center;
}

.MeetingsBlock {
    border-radius: 30px;
    background-color: cadetblue;
}

.MeetingsCardContainer {
    flex: 90%;
    gap: 30px;
    padding: 25px;
    margin: 25px;
    display: grid;
    justify-content: space-around;
    border-radius: 25px;
    background-color: lightgray;
    grid-template-columns: repeat(2, 1fr);
}

.MeetingPhotoCardBody {
    align-content: space-evenly;
}

.MeetingPhotoCarousel {
    align-content: space-evenly;
    height: 192px;
    width: 192px;
}

.PageFooter {
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    align-items: center;
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
}